*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 0.75rem;
    background: linear-gradient(135deg, hsla(196, 100%, 78%, 1) 0%, hsla(63, 79%, 62%, 1) 88%);
}

.todo {
    height: 15rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo h2 {
    font-size: 1.5rem;
}

.todo-input {
    height: 2.2rem;
    border-radius: 1rem;
    background-color: gainsboro;
    box-shadow: inset -5px -5px 10px rgb(255, 255, 255, 0.2), inset
    5px 5px 10px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-input input {
    width: 10rem;
    border: 0;
    outline: 0;
    background: transparent;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.todo-input button {
    font-size: 1rem;
    padding: 8.5px 15px;
    border-radius: 1rem;
    background-color: skyblue;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.list-container {
    overflow: auto;
}

.list-container li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 0 0.3rem 2rem;
    background-color: rgba(128, 128, 128, 0.177);
    border-radius: 1rem;
    margin: 0.5rem 0;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    top: 0.5rem;
    left: 0.5rem;
}

.list-container li span {
    position: absolute;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: 5;
    right: 0.75rem;
    background-image: url(img/cross.png);
    background-size: cover;
    background-position: center;
}

span:hover {
    border-radius: 50%;
    background-color: ghostwhite;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

ul .checked::before {
    content: '';
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-image: url(img/checked.png);
    background-size: cover;
    top: 0.35rem;
    left: 0.4rem;
}